.container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    
}

.row {
    margin-top: 100px;
    width: 500px;
}

.title {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 110px;
    text-align: center;
    color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(to right top, #ffffff, #f4e4ea);
}

.interrogacao {
    font-size: 580px;
    font-family: 'Raleway', serif;
    color: white;
    text-align: center;
    margin-top: -410px;
    animation: pulse .5s ease infinite alternate;
}

@keyframes pulse {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.2;
    }
}








